@import 'libs/bootstrap-reboot.min';
@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@400;600&display=swap');
@import './base/mixins';
@import './base/variables';
@import './blocks/header';
@import './blocks/about';
@import './blocks/services';
@import './blocks/technology';
@import './blocks/clients';
@import './blocks/news';
@import './blocks/contacts';
@import './blocks/footer';
@import './blocks/media';
@import './blocks/overlay';

* {
    position: relative;
    box-sizing: border-box;
    font-family: 'Exo 2', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    position: relative;
}
body.active {
    position: fixed;
    width: 100%;
}

main {
    flex: 1 1 auto;
}

h3 {
    @include adaptiv-font(20, 16);
}


.wrapper {
    display: flex;
    flex-direction: column;
    height: 100% !important;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.main {
    overflow: hidden;
    background: #162c3b;
}

.heading {
    color: #fff;
    font-size: 30px;
    @include adaptiv-font(30, 24);
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 10px;
}

.text {
    color: #fff;
    font-size: 16px;
    @include adaptiv-font(16, 12);
    font-weight: 300;
    letter-spacing: 1px;
}

h1[data-lang=eng],
h2[data-lang=eng],
h3[data-lang=eng],
div[data-lang=eng],
ul[data-lang=eng],
li[data-lang=eng],
p[data-lang=eng],
span[data-lang=eng] {
    display: none;
}