.contacts {
    padding-top: 30px;
    background: #162c3b;
    text-align: center;

    .container {
        h2 {
            text-transform: uppercase;
            letter-spacing: 3px;
        }
    }

    &__about {
        width: 100%;
        flex-direction: row;
        padding-top: 30px;
    }
}
.redBg {
    position: relative;
    width: 50%;
    img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}


.imgBx2 {
    position: relative;
    width: 50%;

    img {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        object-fit: cover;
    }
}

.form {
    padding: 30px;

    .inputBx {
        margin-bottom: 40px;

        input {
            width: 100%;
            background: transparent;
            box-shadow: none;
            border: none;
            outline: none;
            padding: 10px 0;
            font-size: 18px;
            font-weight: 300;
            color: #fff;
            border-bottom: 2px solid #fff;
        }

        input::placeholder {
            color: #fff;
        }

        textarea {
            width: 100%;
            background: transparent;
            box-shadow: none;
            border: none;
            outline: none;
            padding: 10px 0;
            font-size: 18px;
            font-weight: 300;
            min-height: 100px;
            color: #fff;
            border-bottom: 2px solid #fff;
            resize: none;
        }

        textarea::placeholder {
            color: #fff;
        }

        input[type="submit"] {
            padding: 12px;
            width: 200px;
            background: #fff;
            color: #111;
            cursor: pointer;
            text-align: center;
            margin-top: 40px;
            outline: none;
            font-weight: 300;
        }
        input[type="submit"]:hover {
            box-shadow: 20px 20px 30px rgba(0, 0, 0, .5);
            font-weight: 700;
        }
    }
}