@media (max-width: 991px) {
    .header {
        &__wrapper {
            .container {
                .banner {
                    padding: 20px;

                    .header_up {
                        padding: 20px 50px;

                        .logo {
                            img {
                                width: 30px;
                                height: 30px;
                            }
                        }
                        .toggle {
                            top: 10px;
                            span {
                                width: 30px;
                                height: 2px;
                            }
                        }
                        .toggle span::before {
                            top: -10px;
                        }
                        .toggle span::after {
                            top: 10px;
                        }
                    }
                    .toggle.active span::before {
                        top: 0px;
                        transform: rotate(45deg);
                    }
                    .toggle.active span::after {
                        top: 0px;
                        transform: rotate(-45deg);
                    }
                    

                    .content {
                        p {
                            letter-spacing: normal;
                            line-height: 20px;
                        }

                        h1 {
                            letter-spacing: normal;
                        }
                    }
                }
            }
        }
    }


    .about {
        flex-direction: column;

        .contentBx,
        .imgBx {
            width: 100%;
            padding: 50px 50px 0;
            min-height: 400px;
            text-align: center;
        }

        &-item {
            flex-direction: column;
        }

        &-item:nth-child(even) {
            .imgBx {
                order: 2;
            }

            .contentBx {
                order: 1;
            }
        }
    }

    .services {
        padding: 10px 0;

        .container {
            justify-content: center;
            margin-top: 20px;
        }
        &_heading {
            letter-spacing: normal;
        }

        &__container {
            

            .serviceBx {
                margin: 20px 5px 10px 0;
                max-width: 300px;
                height: 350px;
                padding: 10px;
            }
        }
    }

    .technology {
        display: none;
    }

    .client {
        padding: 50px;

        .imgBx {
            justify-content: center;
        }
    }

    .news {
        padding: 50px 12px;

        .containerBx {
            .contentBx {
                padding: 30px;
                max-width: 550px;
            }

            .contentBx:last-child {
                margin-bottom: 0;
            }
        }
    }

    .contacts {
        &>.container {
            padding: 30px;
        }

        .redBg {
            width: 100%;
        }

        .imgBx2 {
            display: none;
        }
    }

    .footer__wrapper {
        padding: 20px 50px;
        flex-direction: column-reverse;
        text-align: center;

        .social {
            padding-bottom: 20px;
        }
    }
}