.news {
    position: relative;
    padding: 100px 30px;
    background: #12222d;
    text-align: center;

    .container {
        h2 {
            text-transform: uppercase;
            letter-spacing: 3px;
        }

        .containerBx {
            padding-top: 30px;
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
            gap: 15px;

            .contentBx {
                background: #fff;
                padding: 60px 30px;
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: left;

                h3 {
                    width: 100%;
                    text-align: center;
                    color: #3f8ffc;
                    margin-bottom: 20px;
                }

                p {
                    font-style: italic;
                    @include adaptiv-font(16, 12);
                }
            }
        }
    }
}