.overlay {
    display: none;
    overflow: hidden;
}

.overlay.active {
    display: block;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    background-color: rgba(0,0,0,.95);
    overflow: hidden;
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;
}
.menu ul {
    position: relative;
}
.menu ul li {
    text-align: center;
    list-style: none;    
}
.menu ul li a {
    color: rgb(134, 127, 127);
    text-decoration: none;
    @include adaptiv-font(40, 28);
    padding: 5px 20px;
    display: inline-flex;
    font-weight: 700;
    transition: 0.5s;
}
.menu ul:hover li a {
    color: #0002;
}

.menu ul li a:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    @include adaptiv-font(50, 26);
    color: rgba(0, 0, 0, .3);
    border-radius: 50%;
    z-index: -1;
    opacity: 0;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 500px;
    transition: letter-spacing 0.5s, left 0.5s;
}
.menu ul li a:hover:before {
    content: attr(data-text);
    opacity: 1;
    left: 50%;
    letter-spacing: 10px;
    width: 3000px;
    height: 3000px;
}
.menu ul li:nth-child(6n+1) a:before {
    background: #81ecec;
}
.menu ul li:nth-child(6n+2) a:before {
    background: #ffeaa7;
}
.menu ul li:nth-child(6n+3) a:before {
    background: #fd79a8;
}
.menu ul li:nth-child(6n+4) a:before {
    background: #a29bfe;
}
.menu ul li:nth-child(6n+5) a:before {
    background: #55efc4;
}
.menu ul li:nth-child(6n+6) a:before {
    background: #ff7675;
}